html {
    box-sizing: border-box;
    cursor: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto Mono", monospace;
    pointer-events: none;
}

.hidden {
    visibility: hidden;
}

.gender,
.gender__graphics,
.gender__words {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.gender__graphics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gender__words {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.gender__graphic_container,
.gender__word_container {
    position: relative;
}

.gender__graphic {
    position: relative;
    width: min(100%, 300px);
}

.gender__word {
    position: relative;
    font-size: 2em;
}

.start-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: #000;
    color: #fff;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
