/* roboto-mono-regular - latin */
@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    src: local(""),
         url("../fonts/roboto-mono-v22-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/roboto-mono-v22-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-mono-700 - latin */
@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 700;
    src: local(""),
         url("../fonts/roboto-mono-v22-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../fonts/roboto-mono-v22-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
    cursor: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto Mono", monospace;
    pointer-events: none;
}

.hidden {
    visibility: hidden;
}

.gender,
.gender__graphics,
.gender__words {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.gender__graphics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gender__words {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.gender__graphic_container,
.gender__word_container {
    position: relative;
}

.gender__graphic {
    position: relative;
    width: min(100%, 300px);
}

.gender__word {
    position: relative;
    font-size: 2em;
}

.start-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: #000;
    color: #fff;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
